* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100vh;
  font-family: "Courier New", Courier, monospace;
}

.lessons-list {
  list-style: none;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.lessons-list-link {
  text-decoration: none;
  padding: 5px;
  border-radius: 5px;
}

.lessons-list-link:hover {
  background-color: #eee;
}

.lessons-list-link:visited {
  color: blueviolet;
}
